*{ /*reset document margins and paddings*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.navbar, header{
    background: #1F2937;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    list-style: none;
    /*reset ul margins*/
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a, .hero > p{
    font-size: 18px;
    color: #E5E7EB;
}

footer > div,button{
    background: #3882F6;
    color: #E5E7EB;
}
.mainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.placeholder{
    background: #6D747D;
    color: #F9FAF8;
}
.information h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    
}
.card{
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}
.inspiring{
    background: #E5E7EB;
}

.inspiring p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;

}
p span{
    font-style: normal;
    font-weight: 900;
}

button{
    border-radius: 5px;
}
.hero button{
    border: 1px solid #3882F6;
}
footer button{
    border: 1px solid #E5E7EB;
}