*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.navbar, header{
    background: #1F2937;
}

.mainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}